{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "sourceMaps": "inline"
    },
    "development": {
      "presets": [
        "es2015-rollup"
      ]
    }
  }
}
